/*-- Global Styles --*/
:root {
  font-size: 18px;
}
* {
  box-sizing: border-box;
}
body, section, div, article, aside, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E8E8E8;
}

/*-- Document Styles --*/
footer {
  background-color: #333;
  color: #ddd;
  padding: 1em;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #DDD;
  padding: 1em;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  nav {flex-direction: row;}
}
nav a {
  color: #DDD;
  text-decoration: none;
}
.trigram {
  font-size: 1.75em;
  display: none;
}
@media screen and (max-width: 767px) {
  .topnav a {display: none;}
  .topnav a.trigram {display: inherit; align-self: flex-end;}
}
@media screen and (max-width: 767px) {
  .topnav.responsive {align-items: center;}
  .topnav.responsive a {display:inherit;}
  .topnav.responsive a.trigram {visibility: hidden; position: absolute; right: 3%; top: 2%;}
  .topnav.responsive a.trigram::after {content:'\000D7'; visibility:visible; text-indent: -.5em;}
}
.thumb {
  background-position: center center;
  background-size: cover;
  padding-bottom: 68%;
}
.grid-container {
  align-content: center;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  text-align: center;
}
@media screen and (min-width: 550px) {
  .grid-container {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 768px) {
  .grid-container {grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width: 990px) {
  .grid-container {grid-template-columns: repeat(4, 1fr);}
}
.card {
  border: 1.5px solid #333;
}
.card-content {
  padding: 0.5em;
}
.one .thumb {
  background-image: url('../img/wraiththumb.jpg');
}
.two .thumb {
  background-image: url('../img/pathfinderthumb.jpg');
}
.three .thumb {
  background-image: url('../img/lifelinethumb.jpg');
}
.four .thumb {
  background-image: url('../img/miragethumb.jpg');
}
.five .thumb {
  background-image: url('../img/octanethumb.jpg');
}
.six .thumb {
  background-image: url('../img/bangalorethumb.jpg');
}
.seven .thumb {
  background-image: url('../img/wattsonthumb.jpg');
}
.eight .thumb {
  background-image: url('../img/causticthumb.jpg');
}
.nine .thumb {
  background-image: url('../img/gibraltarthumb.jpg');
}
.ten .thumb {
  background-image: url('../img/bloodhoundthumb.jpg');
}
.eleven .thumb {
  background-image: url('../img/cryptothumb.jpg');
}
.twelve .thumb {
  background-image: url('../img/revenantthumb.jpg');
}

.card-content {
  font-family: "Duke"
}

.more {border-radius: 25%;}

.more:hover {
    background: #f44336;
    color: white;
}


/*--slideshow rules--*/
.slideshow {
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
}
.slideshow img {
  width: 100%;
}

.slideshow-wrap {
  position: relative;
  max-width: 1440px;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #DDD;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
}
.prev:hover, .next:hover {
  background: rgba(0, 0, 0, 0.5);
}

.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot-wrap {
  text-align: center;
}
.dot {
  width: 20%;
  background: #BBB;
  display: inline-block;
}
.dot img {
  width: 100%;
}
.dot.active {
  background: #333;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*-*/
/* font website : https://hyperpix.net/fonts/apex-legends-font/ */
